[Unit]
Description=Monitoring Process Service
After=network.target 

[Service]
Type=oneshot
ExecStart=/usr/lib/bin/monitoringProcess.sh

[Install]
WantedBy=multi-user.target 
